h1{
    color: orangered;
    /* background-image: url(https://html.sammy-codes.com/images/background.jpg); */
    background-color: azure center;
    background-image: url(https://html.sammy-codes.com/images/background.jpg);
    background-color: azure cover;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    /* text-decoration: underline solid black; */
    border: 2px red solid;
    border-radius: 3px;




}
.pp{
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 8px;
    margin: 15px;
    padding: 5px;
<<<<<<< HEAD
    display: inline-block;
}
.oo{

    color: blueviolet;
=======
}
#h3{
    color: gold;
    background-color: pink;
    border: 2px solid black;
    border-radius: 5px;
>>>>>>> f4
}