h1{
    color: orangered;
    /* background-image: url(https://html.sammy-codes.com/images/background.jpg); */
    background-color: azure center;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    /* text-decoration: underline solid black; */
    border: 2px red solid;
    border-radius: 3px;




}